<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="group-create-label">Create Group</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="close()"
    ></button>
  </div>
  <div class="modal-body">
    <input id="groupNameInput" type="text" />
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">
      Close
    </button>
    <button type="button" class="btn btn-primary" (click)="createGroup()">
      Create
    </button>
  </div>
</div>
