<div class="user-list">
  <div class="user-panel">
    <h4>{{ sessionUser.username }}</h4>
    <button (click)="logout()">Logout</button>
  </div>
  <ul *ngIf="sessionUserRole > 0 || superAdmin" class="user-list">
    <div class="user-role-heading">Super Admins</div>
    <li *ngFor="let user of superAdmins" (click)="editUser(user)">
      <span>{{ user?.username }}</span>
    </li>
    <div class="user-role-heading">Group Admins</div>
    <li *ngFor="let user of groupAdmins" (click)="editUser(user)">
      <span>{{ user?.username }}</span>
    </li>
    <div class="user-role-heading">Users</div>
    <li *ngFor="let user of users" (click)="editUser(user)">
      <span>{{ user?.username }}</span>
    </li>
  </ul>
</div>
