<div class="user-list">
  <ul class="user-list">
    <div class="user-role-heading">Super Admins</div>
    <li *ngFor="let user of superAdmins">
      <span>{{ user?.username }}</span>
    </li>
    <div class="user-role-heading">Group Admins</div>
    <li *ngFor="let user of groupAdmins">
      <span>{{ user?.username }}</span>
    </li>
    <div class="user-role-heading">Users</div>
    <li *ngFor="let user of users">
      <span>{{ user?.username }}</span>
    </li>
  </ul>

  <button (click)="getGroupUsers()">Refresh</button>
  <button
    (click)="createUser('Harry', 'Hazza123', 'hazza@test.com', sessionGroup)"
  >
    Create User
  </button>
</div>
