.user-list {
  background-color: #13001c;
  color: #fff;
  padding: 10px;
  float: right;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.user-role-heading {
  font-weight: bold;
  margin-bottom: 5px;
  color: #43b581;
}

.user-list li {
  display: flex;
  align-items: center;
  padding: 8px;
  font-weight: bold;
}

.user-username {
  font-weight: bold;
}

.user-list li:hover {
  background-color: #40444b;
  cursor: pointer;
}
