<div class="channel-list">
  <ul *ngIf="sessionUserRole > 0" class="channel-list">
    <div class="channel-role-heading">Channels</div>
    <li
      [attr.id]="channel._id"
      *ngFor="let channel of channels"
      class="channel-item"
      (click)="setChannel(channel._id)"
    >
      <span>{{ channel?.name }}</span>
    </li>
  </ul>

  <button *ngIf="sessionUserRole == 0 && sessionGroup != ''">
    Request to Join Group
  </button>
  <div *ngIf="sessionUserRole > 1">
    <button (click)="deleteChannel()">Delete Channel</button>
  </div>
  <div *ngIf="sessionUserRole > 1">
    <button (click)="createChannel()">Create Channel</button>
  </div>
</div>
