<div class="channel-list">
  <ul class="channel-list">
    <div class="channel-role-heading">Channels</div>
    <li
      *ngFor="let channel of channels"
      class="channel-item"
      (click)="setChannel(channel._id)"
    >
      <span>{{ channel?.name }}</span>
      <button class="delete-icon" (click)="deleteChannel(channel._id)">
        <fa-icon [icon]="trash" class="delete-icon"></fa-icon>
      </button>
    </li>
  </ul>

  <button (click)="createChannel('Hogwarts')">Create Channel</button>
</div>
