.channel-list {
  background-color: #415783;
  color: #fff;
  padding: 10px;
  float: right;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

/* Channel role heading */
.channel-role-heading {
  font-weight: bold;
  margin-bottom: 5px;
  color: #43b581; /* You can adjust the color to your preference */
}

/* Individual channel item */
.channel-list li {
  display: flex;
  align-items: center;
  padding: 8px;
  font-weight: bold;
}

/* Channel avatar */
.channel-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Channelname */
.channel-channelname {
  font-weight: bold;
}

/* Channel status */
.channel-status {
  font-size: 12px;
  color: #72767d;
  margin-left: 5px;
}

/* Online status */
.channel-online {
  color: #43b581;
}

/* Offline status */
.channel-offline {
  color: #747f8d;
}

/* Hover effect for channel items */
.channel-list li:hover {
  background-color: #40444b;
  cursor: pointer;
}

/* CSS for showing the delete icon on hover */
.channel-item {
  position: relative; /* Required for positioning the delete icon */
}

.delete-icon {
  display: none; /* Hide the delete icon by default */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.channel-item:hover .delete-icon {
  display: inline-block; /* Show the delete icon on hover */
  color: red; /* You can change the color to your preference */
}
