.group-list {
  background-color: #13001c;
  color: #fff;
  padding: 10px;
  float: right;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.group-role-heading {
  font-weight: bold;
  margin-bottom: 5px;
  color: #43b581;
}

.highlight {
  background-color: rgb(146, 83, 0);
}

.group-list li {
  display: flex;
  align-items: center;
  padding: 8px;
  font-weight: bold;
}

.group-groupname {
  font-weight: bold;
}

.group-list li:not(.highlight):hover {
  background-color: #40444b;
  cursor: pointer;
}

.group-item {
  position: relative;
}
