<div class="group-list">
  <ul class="group-list">
    <div class="group-role-heading">Groups</div>
    <li
      [attr.id]="group._id"
      *ngFor="let group of groups"
      class="group-item"
      (click)="setGroup(group._id)"
    >
      <span>{{ group?.name }}</span>
    </li>
  </ul>
  <div *ngIf="groupCreater">
    <button (click)="deleteGroup()">Delete Group</button>
  </div>
  <div *ngIf="sessionUserRole > 1 || superAdmin">
    <button (click)="createGroup()">Create Group</button>
  </div>
</div>
