<div class="message-container">
  <div class="message">
    <div class="message-content">
      <ul>
        <li
          class="message-list"
          [attr.id]="message._id"
          *ngFor="let message of messages"
        >
          <span class="message-username">{{ message.username }}</span>
          <span class="message-timestamp">{{
            message.time | date : "short"
          }}</span>
          <div class="message-text">{{ message.content }}</div>
        </li>
      </ul>
    </div>
  </div>
</div>
