<div class="message-container">
  <div class="message">
    <img
      class="message-avatar"
      src="assets/pandakungfu.jpg"
      alt="User 1 Avatar"
    />
    <div class="message-content">
      <span class="message-username">James</span>
      <span class="message-timestamp">2:30 PM</span>
      <div class="message-text">Hello, how are you today?</div>
    </div>
  </div>
  <div class="message">
    <img
      class="message-avatar"
      src="assets/pandakungfu.jpg"
      alt="User 2 Avatar"
    />
    <div class="message-content">
      <span class="message-username">Azelia</span>
      <span class="message-timestamp">2:35 PM</span>
      <div class="message-text">I'm doing well, thanks for asking!</div>
    </div>
  </div>
</div>
